.faq-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 10% 520px 10%;

    width: 100%;
    background: rgba(166, 221, 224, .14);
}

.faq-image {
    grid-column: 5 / -1;
    height: 500px;
    width: 100%;
}

.faq-image, .faq-container {
    grid-row: 2 / -1;
}

.faq-container {
    grid-column: 1 / 5;
    height: 100%;
    width: 100%;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 1.3rem/var(--unnamed-line-spacing-38) var(--unnamed-font-family-mr-eaves-xl-san-ot);
    color: var(--unnamed-color-161616);
    align-items: center;
    text-align: left;
}
.info-btn button{
    height: 50px;
    width: 200px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    background: var(--ma-blue-rgb) 0% 0% no-repeat padding-box;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    text-align: center;
    cursor: pointer;
}
    .info-btn button:hover {
        cursor: pointer;
        background: var(--ma-dark-blue-rgb);
    }
.info-btn img {
    padding: 0 0 0 40px;
    height: .8em;
}