.reviews-grid {
    display: grid;
    grid-template-columns: 5% repeat(3, 1fr) 5%;
    grid-template-rows: 10% 547px 10%;
    width: 100%;
    background: rgba(166, 221, 224, .14);
}

.hero-image {
    grid-column: 1 / 6;
    width: 100%;
    height: 30vh;
}
/* Wrap hero-image to make up for excess grid at bottom */
.hero-wrapper, .customer-review-frame {
    grid-row: 2 / 4;
}

.customer-review-frame {
    grid-column: 2 / 5;
    width: 100%;
    height: auto;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background-color: #FFFFFF 0% 0% no-repeat padding-box;
}
.customer-review-frame h1 {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 2.7rem/var(--unnamed-line-spacing-38) var(--unnamed-font-family-mr-eaves-xl-san-ot);
    color: var(--unnamed-color-161616);
    text-align: center;
}
.rating {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 2.2rem/var(--unnamed-line-spacing-31) var(--unnamed-font-family-mr-eaves-xl-san-ot);
    color: var(--ma-blue-rgb);
    text-align: center;
}
.rating img {
    padding: 0px 0px 0px 15px;
}
.customer-review-frame h4 {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 1.3rem/var(--unnamed-line-spacing-22) var(--unnamed-font-family-roboto);
    color: var(--unnamed-color-161616);
    text-align: center;
}
.review-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

.customer-review-card {
    width: 70%;
    margin: 5% 10% 10% 10%;
    padding: 5%;
    height: auto;
    box-shadow: 3px 3px 10px #00000029;
    border-radius: 4px;
}
.comment-wrapper {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 1.3rem/var(--unnamed-line-spacing-22) var(--unnamed-font-family-roboto);
    color: var(--unnamed-color-161616);
    text-align: left;
    padding: 5% 2% 0 2%;
}
.quote-left {
    position: absolute;
    width: 45px;
    height: 44px;
}

@media (max-width: 850px){

}